<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam System || Admin Missions</title>
    <link rel="stylesheet" href="../../../CSS/master.css">
</head>

<body>
    <div class="header">
        <h1>Exam System</h1>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card-header">
                <h1>Add Students</h1>
            </div>
            <div class="card-body">
                <a href="../Messions/Add-Students/add-students.html">Click</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Add Course</h1>
            </div>
            <div class="card-body">
                <a href="../Messions/Add-Course/add-Course.html">Click</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Add Exam</h1>
            </div>
            <div class="card-body">
                <a href="Add-Exam/add-Exam.html">Click</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Update Students Data</h1>
            </div>
            <div class="card-body">
                <a href="../Messions/Update-Students/update-Students.html">Click</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Delete Students Data</h1>
            </div>
            <div class="card-body">
                <a href="../Messions/Delete-Students/delete-Students.html">Click</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Manage Score</h1>
            </div>
            <div class="card-body">
                <a href="../Messions/Manage-Score/manage-Score.html">Click</a>
            </div>
        </div>
    </div>
</body>

</html>